Repository cloudposse/terraform-aws-ec2-autoscale-group, pull requests merged in 2021-03, with the labels that each got.

#54 Fix README formatting
  README.md
  README.yaml
  docs/terraform.md
Labels: readme

#57 readme: Change string bool to bool
  README.md
  README.yaml
  docs/terraform.md
Labels: patch, readme

#60 var.use_name_prefix
  README.md
  README.yaml
  docs/terraform.md
  main.tf
  variables.tf
Labels: patch
